$primary: #1e9ed9;
$secondary: #daf7fc;
$tertiary: #abdefd;
$corduroy: #3f4443;
$accent: #9c27b0;
$call_to_action_color: #2563eb;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #ce9e00;

$cell_width: 144px;
$cell_height: 46px;

$new_cell_width: 140px;
$new_cell_height: 45px;

$header_height: 60px;
$splitter_sep_height: 40px;
$left_menu_width: 60px;

$left_column_mobile_width: 80px;
$left_column_desktop_width: 235px;

$cell_mobile_width: 50px;
$cell_mobile_height: 40px;

$cell_desktop_width: 140px;
$cell_desktop_height: 46px;

$header_desktop_height: 100px;
$header_mobile_height: 65px;

// roomdoo colors
$roomdoo_red: #f24e1e;
$roomdoo_lightgray: #d0d0d0;
$roomdoo_lightgray2: #ededed;
$roomdoo_lightgray3: #f0f0f0;
$roomdoo_lightgray4: #f0fcff;
$roomdoo_lightgray5: #f6f6f6;
$roomdoo_green: #008000;
$roomdoo_blue: #00b5e2;
$roomdoo_blue2: #007b9a;
$roomdoo_blue3: #6264d2;
$roomdoo_dark_blue: #00445d;
$roomdoo_black: #000000;
// scroll
$scrollbar_width: 8px;
$scrollbar_height: 8px;
$input_height: 40px;
