$primary: #1e9ed9;
$secondary: #daf7fc;
$tertiary: #abdefd;
$corduroy: #3f4443;
$call_to_action_color: #2563eb;

// roomdoo colors
$roomdoo_red: #f24e1e;
$roomdoo_lightgray: #d0d0d0;
$roomdoo_lightgray3: #f0f0f0;
$roomdoo_lightgray4: #f0fcff;
$roomdoo_lightgray5: #f6f6f6;
$roomdoo_green: #008000;
$roomdoo_blue: #00b5e2;
$roomdoo_dark_blue: #00445d;
$roomdoo_black: #000000;

// scroll
$scrollbar_width: 8px;
$scrollbar_height: 8px;

// new variables
$header-height: 80px;

$height_title_dialog: 70px;
$height_title_tabs: 50px;
$height_title_tabs_with_padding_top: 71px;
$height_footer: 68px;
